<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PetfinderApiKey" value="(private)" />
    <add key="CramApiClientID" value="1b8169e3a85b973cee5fba6705b8dbaa" />
    <add key="CramApiUsername" value="(private)" />
    <add key="CramApiPassword" value="(private)" />
    <add key="CramTestSetID" value="(private)" />
    <add key="CramTestImageID" value="lqylpQ==" />
    <add key="CramTestImageSrc" value="http://fce-study.netdna-ssl.com/images/upload-flashcards/front/1/4/2141396.jpg" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
